{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "classes": true,
    "destructuring": true,
    "objectLiteralShorthandProperties": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "classes": true,
      "destructuring": true,
      "objectLiteralShorthandProperties": true
    }
  },
  "ignorePatterns": [

  ]
}